# fly.toml app configuration file generated for andyspoke on 2023-05-30T16:53:20+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "andyspoke"
primary_region = "arn"

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
