# fly.toml app configuration file generated for bold-sea-6198 on 2023-06-01T06:50:25+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "bold-sea-6198"
primary_region = "mad"

[deploy]
  release_command = "npm run build"

[processes]
  app = "node app.js"

[build]
  [build.args]
    NODE_VERSION = "16.19.1"

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
