# fly.toml app configuration file generated for wispy-sun-5820 on 2023-11-04T10:40:16+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "wispy-sun-5820"
primary_region = "jnb"

[deploy]
  release_command = "npm run build"

[processes]
  app = "node app.js"

[build]
  [build.args]
    NODE_VERSION = "16.19.1"
    
[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[services.tcp_checks]]
  grace_period = "1s"
  interval = "15s"
  restart_limit = 0
  timeout = "2s"
