# fly.toml app configuration file generated for full-stack-open-pokedex-cb10 on 2023-12-23T18:25:43+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#
app = "full-stack-open-pokedex-cb10"
primary_region = "cdg"

[env]
PORT = "8080"

[deploy]
release_command = "npm run build"

[processes]
app = "node app.js"

[build]

[build.args]
NODE_VERSION = "16.19.0"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 0
processes = ["app"]

[[vm]]
cpu_kind = "shared"
cpus = 1
memory_mb = 1024

[[services]]
internal_port = 8080
protocol = "tcp"
processes = ["app"]

# [[services.tcp_checks]]
# grace_period = "1s"
# interval = "15s"
# restart_limit = 0
# timeout = "2s"

# [[services.http_checks]]
# interval = 10000
# grace_period = "10s"
# method = "get"
# path = "/health"
# protocol = "http"
# restart_limit = 0
# timeout = 2000
# tls_skip_verify = false
# [services.http_checks.headers]
