# fly.toml file generated for delicate-morning-8864 on 2023-01-26T00:37:41-03:00

app = "delicate-morning-8864"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]
  PORT = "8080"
  NODE_OPTIONS="--openssl-legacy-provider"

[experimental]
  auto_rollback = true

[[services]]
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"

  [[services.http_checks]]
    interval = 10000
    grace_period = "5s"
    method = "get"
    path = "/health"
    protocol = "http"
    restart_limit = 0
    timeout = 2000
    tls_skip_verify = false
    [services.http_checks.headers]  

  [[services.script_checks]]
    command       = "/app/health_check.sh"
    grace_period  = "1s"
    interval      = "5s"
    restart_limit = 0
    timeout       = "1s"    

[deploy]
  release_command = "npm run build"

[processes]
  app = "node app.js"