name: Testing stuff

on:
  push:
    branches:
      - main
env:
  COMMIT_MESSAGES: ${{ toJson(github.event.commits.*.message) }}
jobs:
  a_test_job:
    if: ${{!contains(join(env.COMMIT_MESSAGES, ' '), '#skip')}}
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: github context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: commits
        env:
          COMMITS: ${{ toJson(github.event.commits) }}
        run: echo "$COMMITS"
      - name: commit messages
        env:
          COMMIT_MESSAGES: ${{ toJson(github.event.commits.*.message) }}
        if: ${{!contains(join(env.COMMIT_MESSAGES, ' '), '#skip')}}
        run: echo "$COMMIT_MESSAGES"
