name: Scheduled Health Check 

on:
  schedule:
    - cron: '0 * * * *'

jobs:
  health_check:
    health_check:
    runs-on: ubuntu-20.04
    steps:
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v3
        with:
          url: https://full-stack-open-pokedex-mwty.onrender.com/
          max-attempts: 3
          retry-delay: 5s
