name: Hello!

on: 
  push:
    branches:
      - master
jobs: 
  deployment_pipeline:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: npm install
        run: npm install
      - name: lint the code
        run: npm run eslint --fix
