name: Hello World!

on:
  push:
    branches:
      - master

jobs:
  hello-world-job:
    runs-on: ubuntu-20.04
    steps:
      - name: Say hello
        run: |
          echo "Hello World!"
      - name: Now it is
        run: |
          date
      - name: Directory Content
        run: |
          ls
      