name: Hello!

on: 
  push:
    branches:
      - master
jobs: 
  deployment_pipeline:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: npm install
        run: npm install
      - name: lint the code
        run: npm run eslint --fix
      - name: build
        run: npm run build
      - name: test
        run: npm run test
      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{secrets.HEROKU_APP_NAME}}
          heroku_email: ${{secrets.HEROKU_EMAIL}}
          healthcheck: 'https://pokemon-devops.herokuapp.com/health'
          checkstring: 'ok'