name: hello world

on:
        push:
                branches:
                        - master

jobs:
        hello_world_job:
                runs-on: ubuntu-20.04
                steps:
                        - name: hello world
                          run |
                           echo "Hello World"
