name: Pokedex

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install Dependencies
        run: npm install
      - name: Code Linting (with Fix)
        run: npm run eslint -- --fix
      - name: Build
        run: npm run build
      - name: Run Tests
        run: npm test

  tag_release:  # Neuer Job für das Taggen und Erhöhen der Version
    needs: [simple_deployment_pipeline]  # Dieser Job wird erst ausgeführt, nachdem der vorherige Job abgeschlossen wurde
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.67.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
