name: Pokedex

on:
  push:
    branches:
      - Jimmy
      - master
  pull-request:
    branches: [master]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install Dependencies
        run: npm install
      - name: Code Linting (with Fix)
        run: npm run eslint -- --fix
      - name: Build
        run: npm run build
      - name: Run Tests
        run: npm test
