#on:
#  schedule:
#    - cron: '0 8 * * *'
    
on:
  push:
    branches:
      - master

jobs:
  test_schedule:
    runs-on: ubuntu-20.04
    steps:
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v3
        with:
          url: https://pokedex-fso-4ikx.onrender.com/
          max-attempts: 3 # Optional, defaults to 1
          retry-delay: 5s # Optional, only applicable to max-attempts > 1
          