name: Deployment pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: npm install
        run: npm install
      - name: lint
        run: npm run eslint
      - name: build
        run: npm run build
      - name: test
        run: npm test
      - name: e2e tests
        uses: cypress-io/github-action@v2
        with:
          command: npm run test:e2e
          start: npm run start-prod
          wait-on: http://localhost:5000
      - name: commit messages
        env:
          COMMIT_MESSAGES: ${{ toJson(github.event.commits.*.message) }}
        run: echo "$COMMIT_MESSAGES"
      - name: event name
        env:
          EVENT_NAME: ${{ toJson(github.event_name) }}
        run: echo "$EVENT_NAME"
      - name: Should deploy?
        run: echo ${{ github.event_name == 'push' && !contains(join(github.event.commits.*.message), '#skip') }}
      - uses: akhileshns/heroku-deploy@v3.8.9
        if: ${{ github.event_name == 'push' && !contains(join(github.event.commits.*.message), '#skip') }}
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "pokemon-listing-rv"
          heroku_email: "roman.m.vasilyev@gmail.com"
          healthcheck: "https://pokemon-listing-rv.herokuapp.com/health"
          checkstring: "ok"
          rollbackonhealthcheckfailed: true
      - uses: actions/checkout@v2
        if: ${{ github.event_name == 'push' && !contains(join(github.event.commits.*.message), '#skip') }}
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.26.0
        if: ${{ github.event_name == 'push' && !contains(join(github.event.commits.*.message), '#skip') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          DEFAULT_BUMP: patch