name: Deployment pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    types:
      - opened
      - synchronize

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Install dependencies
        run: npm install
      - name: Lint
        run: npm run eslint
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test
      - name: Test:e2e
        uses: cypress-io/github-action@v5
        with:
          command: npm run test:e2e
          start: npm run start-prod
          wait-on: http://localhost:5000
      - name: Setup flyctl
        if: ${{ github.event_name == 'push' && !contains(github.event.head_commit.message, '#skip') }}
        uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Deply to Fly.io
        if: ${{ github.event_name == 'push' && !contains(github.event.head_commit.message, '#skip') }}
        run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
      - name: App deployed
        if: ${{ github.event_name == 'push' && !contains(github.event.head_commit.message, '#skip') }}
        uses: rjstone/discord-webhook-notify@v1
        with:
          severity: info
          text: A new version of Pokedex has been deployed
          description: Try it out!
          details: https://holy-dew-9210.fly.dev/
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
      - name: Build failure
        if: failure()
        uses: rjstone/discord-webhook-notify@v1
        with:
          severity: error
          test: Build failed
          description: The following commit broke the build
          details: ${{ github.sha }}
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
  tag_release:
    if: ${{ github.event_name == 'push' && !contains(github.event.head_commit.message, '#skip') }}
    runs-on: ubuntu-latest
    needs:
      - simple_deployment_pipeline
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          # Tagging action needs all of the commits so
          # that it can find the last version number
          fetch-depth: '0'
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.67.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: 'patch'
          WITH_V: true
