name: Deployment pipeline

on:
  push:
    branches:
      - master

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: install yarn
        run: npm install yarn
      - name: install packages
        run: yarn install
      - name: lint
        run: yarn eslint
      - name: build
        run: yarn build
      - name: test
        run: yarn test
