name: Deployment pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
    types: [opened, synchronize]    
env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}      
jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: npm install 
        run: npm install  
      - name: lint
        run: npm run eslint
      - name: build
        run: npm run build
      - name: test
        run: npm run test 
      - name: e2e tests
        uses: cypress-io/github-action@v4
        with:
          command: npm run test:e2e
          start: npm run start-prod
          wait-on: http://localhost:5000
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: deployment
        if: ${{ github.event_name == 'push' && contains( join(toJson(github.event.commits.*.message),''), '#skip') == false }}
        run: flyctl deploy --remote-only  
      - name: Build Success
        uses: rjstone/discord-webhook-notify@v1
        if: ${{ github.event_name == 'push' && contains( join(toJson(github.event.commits.*.message),''), '#skip') == false && success() }}
        with:
          severity: info
          text: A new version of Pokedex deployed!
          details: to https://delicate-morning-8864.fly.dev/ by ${{ join(toJson(github.event.commits.*.author.username),'')  }}
          footer: 'Severity: Informational'
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
      - name: Build Failure
        uses: rjstone/discord-webhook-notify@v1
        if: ${{ failure() }}
        with:
          severity: error
          text: Build Failed!
          footer: 'Severity: Error'
          description: 'commit'
          details: ${{ join(toJson(github.event.commits.*.url),'')}} by ${{join(toJson(github.event.commits.*.author.username),'')}} broke the build :( 
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}    
  tag_release:
    needs: simple_deployment_pipeline
    runs-on: ubuntu-20.04
    steps:  
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'
      - name: Bump version and push tag
        if: ${{ github.event_name == 'push' && contains( join(toJson(github.event.commits.*.message),''), '#skip') == false }}
        uses: anothrNick/github-tag-action@eca2b69f9e2c24be7decccd0f15fdb1ea5906598
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}    
          DEFAULT_BUMP: patch


   
          
          
            