name: Pipeline

on:
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master
    types:
      - opened
      - synchronize

jobs:
  deployment_pipeline:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: "npm install"
        run: |
          npm install
      - name: lint
        run: | 
          npm run eslint
      - name: build
        run: |
          npm run build
      - name: test
        run: |
          npm test
      - name: e2e test
        uses: cypress-io/github-action@v2
        with:
          command: npm run test:e2e
          start: npm run start-prod
          wait-on: http://localhost:5000
      - name: deploy
        if: |
          github.event_name == 'push' &&
          !contains(join(github.event.commits.*.message, ' '), '#skip')
        uses: akhileshns/heroku-deploy@v3.8.9
        with: 
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: pirhon-pokedex
          heroku_email: "mikko.m.pirhonen@tuni.fi"
          healthcheck: "https://pirhon-pokedex.herokuapp.com/health"
          checkstring: "ok"
          rollbackonhealthcheckfailed: true
  version:
    runs-on: ubuntu-18.04
    if: |
      github.event_name == 'push' &&
      !contains(join(github.event.commits.*.message, ' '), '#skip')"
    steps:
      - uses: actions/checkout@v2
      - uses: anothrNick/github-tag-action@1.34.0 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          