name: Deployment pipelint

on:
  push:
    branches:
      - master

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-18.04
    steps:
      - uses: action/checkout@v2
      - uses: action/setup-node@v1
        with: 
          node-version: "12.x"
      - name: npm install
        run: npm install
      - name: lint
        run: npm run eslint

        