name: Deployment pipeline

on:
  push:
    branches:
      - master
      # note that your "main" branch might be called main instead of master

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps: 
      - run: ls
      - uses: actions/checkout@v3
      - run: ls
      - uses: actions/setup-node@v3
        with: 
          node-version: '16'
      - name: Install dependencies
        run: npm install
      - name: Check style
        run: npm run eslint
      - name: Print runner IP address
        run: echo ${{ github.runner.ip_address }}
      - name: Testing
        run: npm run test
      - run: npm run start-prod&
      - run: sleep 5s
      - run: curl http://localhost:5000 -I
#      - run: curl --fail http://127.0.0.1:5000 || exit 1
#      - name: e2e tests
#        uses: cypress-io/github-action@v5
#        with:
#          command: npm run test:e2e
#          start: npm run start-prod
#          wait-on: "http://127.0.0.1:5000"
        
