name: Deployment pipeline

on:
  push:
    branches:
      - master

env:
  FLY_API_TOKEN: ${{secrets.FLY_API_TOKEN}}
jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: npm install
        run: npm install
      - name: lint
        run: npm run eslint
      - name: test
        run: npm run test
      - name: e2e tests
        uses: cypress-io/github-action@v5
        with:
          build: npm run build
          start: npm run start-prod
          wait-on: http://localhost:5000
      - name: Deploy to fly
        run: flyctl deploy --remote-only
