name: Deployment pipeline

on:
  push:
    branches:
      - master

  pull_request:
    branches: [master]
    type: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: "16"

      - name: npm install
        run: npm install

      # - name: lint
      #   run: npm run eslint

      - name: build
        run: npm run build

      # - name: test
      #   run: npm run test

      # - name: e2e test
      #   uses: cypress-io/github-action@v4
      #   with:
      #     start: npm run start-prod
      #     wait-on: http://localhost:5000

      - name: heroku
        uses: akhileshns/heroku-deploy@v3.12.12
        if: ${{ github.event_name == 'push' }}
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: fullstack-11
          heroku_email: 8mixu8@gmail.com
          healthcheck: https://fullstack-11.herokuapp.com/health
          rollbackonhealthcheckfailed: true
      
  tag_release:
    needs: [simple_deployment_pipeline]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Bump version and push tag
        if: ${{ github.event_name == 'push' && !contains(github.event.head_commit.message, '#skip') }}
        uses: anothrNick/github-tag-action@1.36.0
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          DEFAULT_BUMP: patch
