name: Deployment Pipeline

on:
  push:
    branches:
      - master

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: npm install
        run: npm install
      - name: lint
        run: npm run eslint
      - name: test
        run: npm test
        name: e2e tests
        uses: cypress-io/github-action@v2
        with:
          command: npm run cypress:run
          start: npm start
          wait-on: http://localhost:8080