name: Deployment pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches: [crazy-experiment, master]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: npm install
        run: npm install

      - name: lint
        run: npm run eslint

      - name: build
        run: npm run build 

      - name: test
        run: npm run test

      - name: e2e tests
        uses: cypress-io/github-action@v2
        with:
          start: npm run start-prod
          wait-on: http://localhost:5000

      - if: ${{ github.event_name == 'push' }}
        name: Heroku deployment
        uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "pokedex-rndmz"
          heroku_email: "a.nogales.cs@gmail.com"
          healthcheck: "http://pokedex-rndmz.herokuapp.com/health"
          rollbackonhealthcheckfailed: true

      - if: ${{ github.event_name == 'push' }}
        name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.33.0
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}