name: Deployment pipeline

on:
  push:
    branches:
      - master

env:
  WORKDIR: ./pokedex

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: $WORKDIR
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install dependencies
        run: npm install
      - name: Check style
        run: npm run lint
      - name: Run tests
        run: npm run test
      - name: e2e tests
        uses: cypress-io/github-action@v5
        with:
          command: npm run test:e2e
          start: npm run start:test
          wait-on: http://localhost:8080
          working-directory: $WORKDIR
