name: Deployment pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: npm install
        run: npm install
      - name: lint
        run: npm run eslint
      - name: build
        run: npm run build
      - name: test
        run: npm run test
      - name: e2e tests
        uses: cypress-io/github-action@v2
        with:
          command: npm run test:e2e
          start: npm run start-prod
          wait-on: http://localhost:5000
      - name: deploy
        uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        if: github.event_name == 'push' && ${{ !(contains(github.event.commits.*.message, '#skip')) }} # Means merge or push
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "fullstackopenpokedexmatti" #Must be unique in Heroku
          heroku_email: "ookooko@gmail.com"
          healthcheck: "https://fullstackopenpokedexmatti.herokuapp.com/health"
          checkstring: "ok"
          rollbackonhealthcheckfailed: truev
      - uses: actions/checkout@v2
      - name: Bump version and push tag
        if: github.event_name == 'push' && ${{ !(contains(github.event.commits.*.message, '#skip')) }}  # Means merge or push (and no #skip)
        uses: anothrNick/github-tag-action@1.33.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
      - name: onkoskippivaiei
        env:
          MESSAGEX:  ${{ !(contains(github.event.commits.*.message, '#skip')) }}
        if: ${{ !(contains(github.event.commits.*.message, '#skip')) }}
        run: echo "$MESSAGEX"

