name: deployment pipeline

on:
  push:
    branches:
     - master
  pull_request:
    branches: [master]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
      runs-on: ubuntu-18.04
      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@v1
          with:
            node-version: '12.x'
        - name: npm install
          run: npm install
        - name: lint
          run: npm run eslint
        - name: test
          run: npm test
        - name: build
          run: npm run build
        - name: e2e tests
          uses: cypress-io/github-action@v2
          with:
            command: npm run test:e2e
            start: npm run start-prod
            wait on: http://localhost:5000
        - name: deploy
          if: ${{ github.event_name == 'push' && contains(github.event.commits.*.message,'#skip')==false }}
          uses: akhileshns/heroku-deploy@v3.12.12
          with: 
            heroku_api_key: ${{secrets.HEROKU_API_KEY}}
            heroku_app_name: "pokedex-yogho358"
            heroku_email: "yogho@hotmail.com"
            healthcheck: "https://pokedex-yogho358.herokuapp.com/health"
            checkstring: "ok"
            rollbackonhealthcheckfailed: true
        - uses: actions/checkout@v2
        - name: Bump version and push tag
          if: ${{ github.event_name == 'push' && contains(github.event.commits.*.message,'#skip')==false}}
          uses: anothrNick/github-tag-action@1.33.0
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            DEFAULT_BUMP: patch

        - uses: actions/checkout@v2
        - name: gihub context
          env:
            GITHUB_CONTEXT: ${{ toJson(github) }}
          run: echo "$GITHUB_CONTEXT"
        - name: commits
          env:
            COMMITS: ${{ toJson(github.event.commits) }}
          run: echo "$COMMITS"
        - name: commit messages
          env:
            COMMIT_MESSAGES: ${{ toJson(github.event.commits.*.message) }}
          run: echo "$COMMIT_MESSAGES"
            


