name: Lint, Build, Test, and E2E Test

on: [push, pull_request]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Install dependencies
      run: npm install

    - name: Run Lint
      run: npm run eslint

    - name: Build
      run: npm run build

    - name: Run Tests
      run: npm test

    - name: Run E2E Tests
      uses: cypress-io/github-action@v5
      with:
        command: npm run test:e2e
        start: npm start
        wait-on: http://localhost:3000
