name: Deployment pipeline

on:
    push:
        branches:
            - master

jobs:
    deployment_pipeline:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v2
              with:
                  node-version: "16"
            - name: npm install
              run: npm install
            - name: lint
              run: npm run eslint
            - name: build
              run: npm run build
            - name: test
              run: npm run test
            - name: e2e testing
              uses: cypress-io/github-action@v2
              with:
                  command: npm run test:e2e
                  start: npm run start-prod
                  wait-on: http://localhost:5000
