name: Deployment pipeline

on:
  push:
    branches:
      - master

  pull_request:
    branches: [ master ]
    types: [ opened, synchronize ]

jobs:
  install_lint_build_test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3 #The uses keyword tells the workflow to run a specific action
      - uses: actions/setup-node@v3
        with: #the with keyword is used to give a "parameter" to the action.
          node-version: '16'
      - name: npm install
        run: npm install
      - name: lint
        run: npm run eslint
      - name: build
        run: npm run build
      - name: test
        run: npm test
      - name: e2e tests
        uses: cypress-io/github-action@v4
        with:
          build: npm run build
          start: npm run start-prod
          wait-on: http://localhost:5000

  deploy:
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    runs-on: ubuntu-20.04
    needs: [install_lint_build_test]
    if: ${{ github.event_name == 'push' }}
    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only

  tag_release:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      REPO_OWNER: YouqinS
      DEFAULT_BUMP: patch
    runs-on: ubuntu-20.04
    needs: [deploy]
    if: ${{ github.event_name == 'push' }}
    steps:
      - uses: actions/checkout@master
      - name: bump version and push tag
        uses: anothrNick/github-tag-action@1.36.0
        with:
          fetch-depth: '0'
