name: Deployment pipeline

on:
  push:
    branches:
      - master

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install dependencies
        run: npm install
      # The name of a step is optional
      - name: Check style
        run: npm run eslint
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test
      - name: Upgrade Ubuntu apps
        run:
          - sudo apt list --upgradable
          - sudo apt upgrade
      - name: E2E tests
        uses: cypress-io/github-action@v5
        with:
          start: npm run start-prod
          wait-on: http://localhost:3001
          command: npm run test:e2e
