name: Deployment pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
    types: [opened, synchronize]
env:
  COMMIT_MESSAGES: ${{ toJson(github.event.commits.*.message) }}
  # commit message 中是否包含 #skip 标记
  IS_SKIP: ${{ contains(join(github.event.commits.*.message, ' '), '#skip') }}


jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    if: ${{ github.event_name == 'push' }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with: 
          node-version: '16'
      - name: Install dependencies
        run: npm install
      - name: Check style
        run: npm run eslint
      - name: Build production
        run: npm run build
      - name: Test
        run: npm run test
  tag_release: 
    needs: [simple_deployment_pipeline]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Bump version and push tag
        if: ${{ (github.event_name == 'push') && !(env.IS_SKIP) }}
        uses: anothrNick/github-tag-action@1.67.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: echo IS_SKIP
        run: echo ${{env.IS_SKIP}}
      # - name: e2e tests
      #   uses: cypress-io/github-action@v5
      #   with:
      #     command: npm run test:e2e
      #     start: npm run start-prod
      #     wait-on: http://127.0.0.1:5001

