name: Deployment pipeline

on:
  push:
    branches:
      - master
  pull_request:    
    branches: [master] 
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]

    steps: 
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
         node-version: ${{ matrix.node-version }}
      - name: npm install
        run: npm install
      - run: ls 
      - name: cypress-test
        uses: cypress-io/github-action@v2
        with:
          start: npm run start-prod
          command: npm run cy:run
          wait-on: http://localhost:5000
          browser: firefox
          wait-on-timeout: 120
      - name: deploy 
        uses: akhileshns/heroku-deploy@v3.12.12
        with:
           heroku_api_key: ${{secrets.HEROKU_KEY}}
           heroku_app_name: "pokedexy-app"
           heroku_email: "mieyle@protonmail.com"
           healthcheck: "https://pokedexy-app.herokuapp.com/health"
           rollbackonhealthcheckfailed: true
