name: Telegram notifications!

on: 
  pull_request:
      branches: [master]
      types: [opened, synchronize]

jobs:
  telegram_notification:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: send default message to telegram group
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
    - name: send default message to me
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO_ME }}
        token: ${{ secrets.TELEGRAM_TOKEN }}