name: Testing stuff

on:
  push:
    branches:
      - master

jobs:
  a_test_job:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: gihub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: commits
        env:
          COMMITS: ${{ toJson(github.event.commits) }}
        run: echo "$COMMITS"
      - name: commit messages
        env:
          COMMIT_MESSAGES: ${{ toJson(github.event.commits.*.message) }}
        run: echo "$COMMIT_MESSAGES"
      - name: join message
        env:
          JOIN_MESSAGE: ${{ join(toJson(github.event.commits.*.message), ' ') }}
        run: echo "$JOIN_MESSAGE"
      - name: contains join message
        env:
          CONTAINS_JOIN_MESSAGE: ${{ contains(join(toJson(github.event.commits.*.message), ' '), '#skip') }}
        run: echo "$CONTAINS_JOIN_MESSAGE"
      - name: negation contains join mess
        env:
          NEG_CONTAINS_JOIN_MESSAGE: ${{ !contains(join(toJson(github.event.commits.*.message), ' '), '#skip') }}
        run: echo "$NEG_CONTAINS_JOIN_MESSAGE"
